.profile {
	min-height: 400px;

border-radius: 46px;
background: #4f3535;
box-shadow:  8px 8px 13px #392626,
             -8px -8px 13px #654444;

	.profile__pic {
		width: 125px;
		height: 100px;
		border-radius: 50%;
	}
}
