$background-color: #6d551894;

.container {
	margin: 10px auto;
	height: 85vh;
	border-radius: 2%;
	background: $background-color;

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: wheat;
	}

	.loading-wrapper {
		height: 400px;
		.loading-icon {
			width: 200px;
			height: 200px;
			border-radius: 50%;
		}
	}

	.card {
		height: 430px;
		max-width: 85%;
		overflow-y: auto;
		margin: 10px;
		padding: 22px;
		scrollbar-width: none;

		border-radius: 34px;
		background: $background-color;
		box-shadow: 10px 10px 31px #24221d, -10px -10px 31px $background-color;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

#heart {
	color: crimson;
	font-size: 20px;
}

.capitalize{
	text-transform: capitalize;
}
